<div class="component h-screen"
  style="background-image: url(../../../../assets/bg.svg); background-position:100%; background-position-x: 100%;">
  <div class="flex justify-center">
    <form class="mt-20"[formGroup]="form" name="form" (ngSubmit)="form.valid && register()" novalidate>
      <div class="form-row">

        <div class="form-group col-sm-12 col-lg-4">
          <label for="Email" class="font-bold">Email</label>
          <input id="Email" type="email" name="Email" formControlName="Email" class="form-control input input-bordered input-primary rounded-xl" required
            placeholder="Email" />

          <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
            <div *ngIf="email.errors?.['required']">
              Email is required.
            </div>
          </div>
        </div>

        <br />

        <div class="form-group col-sm-12 col-lg-4">
          <label for="UserName" class="font-bold">Username</label>
          <input id="UserName" type="text" name="UserName" formControlName="UserName" class="form-control input input-bordered input-primary rounded-xl" required
            placeholder="UserName" />

          <div *ngIf="username.invalid && username.touched" class="invalid-feedback">
            <div *ngIf="username.errors?.['required']">
              Username is required.
            </div>
          </div>
        </div>

        <br />

        <div class="form-group col-sm-12 col-lg-4">
          <label for="hash" class="font-bold">Password</label>
          <input id="hash" type="password" name="hash" formControlName="hash" class="form-control input input-bordered input-primary rounded-xl" required
            placeholder="password" />

          <div *ngIf="hash.invalid && hash.touched" class="invalid-feedback">
            <div *ngIf="hash.errors?.['required']">
              Password is required.
            </div>
          </div>
        </div>

        <br />

        <div class="form-group col-sm-12 col-lg-4">
          <label for="BirthDate" class="font-bold">Birthdate</label>
          <input datepicker id="BirthDate" type="date" name="BirthDate" formControlName="BirthDate" class="form-control flex flex-row input input-bordered input-primary rounded-xl" required
            placeholder="BirthDate" />

          <div *ngIf="birthdate.invalid && birthdate.touched" class="invalid-feedback">
            <div *ngIf="birthdate.errors?.['required']">
              Birthdate is required.
            </div>
          </div>

        </div>
        <!-- Submit buttons -->
        <button type="submit" class="btn btn-primary mt-4 rounded-xl" [disabled]="!form.valid">
          Register
        </button>
      </div>
    </form>
  </div>
</div>