<div
  class="component h-screen"
  style="
    background-image: url('../../../../assets/bg.svg');
    background-position: 100%;
    background-position-x: 100%;
  "
>
<div class="flex flex-col">
  <div class="flex content-center justify-center mt-20">
    <form
      #tournamentEditForm="ngForm"
      name="form"
      (ngSubmit)="tournamentEditForm.form.valid && onSubmit()"
      novalidate
      class="border-4 border-secondary rounded-xl p-5 w-96"
    >
      <div class="form-row">
        <!-- Movie Title -->
        <div class="form-group col-sm-12 col-lg-4">
          <label for="Name" class="font-bold">Name</label>
          <input
            type="text"
            class="form-control input input-bordered input-primary rounded-xl"
            [(ngModel)]="tournament.Name"
            name="Name"
            #Name="ngModel"
            [ngClass]="{
              'is-invalid':
                (Name.invalid && Name.touched) ||
                (existingTournamentTitle$ | async)
            }"
            required
            minlength="3"
            id="Name"
            placeholder="The name of the tournament"
          />
          <!-- Show invalidity message -->
          <div
            *ngIf="Name.invalid && Name.touched"
            class="invalid-feedback"
          >
            <div *ngIf="Name.errors?.['required']">
              Tournament name is vereist.
            </div>
            <div *ngIf="Name.errors?.['minlength']">
              Min name lenght is 3
            </div>
          </div>
          <!-- end -->
        </div>
        <br />
        <!-- Release Year -->
        <div class="form-group col-sm-12 col-lg-4">
          <label for="Game" class="font-bold">Tournament Game</label>
          <input
          type="text"
          class="form-control input input-bordered input-primary rounded-xl"
          [(ngModel)]="tournament.Game"
          name="Game"
          #Game="ngModel"
          [ngClass]="{
            'is-invalid':
              (Game.invalid && Game.touched) ||
              (existingTournamentTitle$ | async)
          }"
          required
          minlength="3"
          id="Game"
          placeholder="The game of the tournament"
        />
          <!-- Show invalidity message -->
          <div
            *ngIf="Game.invalid && Game.touched"
            class="invalid-feedback"
          >
            <div *ngIf="Game.errors?.['required']">
              Tournament game is vereist.
            </div>
            <div *ngIf="Game.errors?.['minlength']">
              Min name lenght is 3
            </div>
          </div>
          <!-- end -->
        </div>
        <br />
        <!-- Movie Studio -->
        <div class="form-group col-sm-12 col-lg-4">
          <label for="RewardPrize" class="font-bold">RewardPrize</label>
          <input
          type="number"
          class="form-control input input-bordered input-primary rounded-xl"
          [(ngModel)]="tournament.RewardPrize"
          name="RewardPrize"
          #RewardPrize="ngModel"
          [ngClass]="{
            'is-invalid':
              (RewardPrize.invalid && RewardPrize.touched) ||
              (existingTournamentTitle$ | async)
          }"
          required
          min=10
          id="RewardPrize"
          placeholder="The RewardPrize of the tournament"
        />
          <!-- Show invalidity message -->
          <div
            *ngIf="RewardPrize.invalid && RewardPrize.dirty"
            class="invalid-feedback"
          >
          Minimum is 10.
          </div>
          <!-- end -->
        </div>
        <br />
        <!-- Movie Age Category -->
        <div class="form-group col-sm-12 col-lg-4">
            <label for="Date" class="font-bold">Tournament date</label>
            <input
              type="datetime-local"
              class="form-control flex flex-row input input-bordered input-primary rounded-xl"
              [(ngModel)]="tournament.Date"
              name="Date"
              #Date="ngModel"
              [ngClass]="{
                'is-invalid':
                  (Date.invalid && Date.touched) ||
                  (existingTournamentTitle$ | async)
              }"
              required
              id="Date"
              placeholder="The date of the tournament"
            />
            <!-- Show invalidity message -->
            <div
              *ngIf="Date.invalid && Date.touched"
              class="invalid-feedback"
            >
                <!-- ToDo insert Validation Date is not before today -->
            </div>
        </div>
  
        <!-- Submit buttons -->
        <div class="mt-5">
          <button
          type="submit"
          class="btn btn-primary me-1 rounded-xl"
          [disabled]="!tournamentEditForm.valid"
        >
          Save
        </button>
        <button type="submit" class="btn btn-secondary me-1 rounded-xl" routerLink="..">
          Cancel
        </button>
        </div>
      </div>
    </form>
    </div>
    </div>
  </div>