<div class="component">
  <div class="topnav">
    <a class="active" routerLink="">Home</a>
    <a class="nav-link" routerLink="tournaments">Tournaments</a>
    <a class="nav-link" routerLink="groups">Groups</a>
    <a routerLink="about">About</a>
    <div class="topnav">
      <a *ngIf="key === null" class="nav-link" style="float:right" routerLink="login">Login</a>
      <a *ngIf="key !== null" class="nav-link" style="float:right" onclick="logout()">Logout</a>
      <a *ngIf="key ===null" class="nav-link" style="float:right" routerLink="register">Register</a>
    </div>
  </div>
</div>
