/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color:darkgrey;
}

.btn-second{
    background: #AB8E68;
}
.btn-second:hover{
    background: #91724A;
}

.btn:hover{
    background: burlywood;
}