<div
  class="component h-screen"
  style="
    background-image: url('../../../../assets/bg.svg');
    background-position: 100%;
    background-position-x: 100%;
  "
>
  <button
    *ngIf="this.token != null"
    type="submit"
    class="btn btn-accent text-light float-right me-5 mt-5 rounded-xl"
    routerLink="new"
  >
    Add New
  </button>
  <div class="col-md-4" *ngFor="let tournament of tournaments$ | async">
    <div class="focus:outline-none py-2 w-full">
      <div class="lg:flex items-center justify-center w-full">
        <div
          class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-secondary p-6 shadow rounded"
        >
          <div
            class="flex items-center border-b border-gray-200 dark:border-gray-700 pb-6"
          >
            <img
              src="../../../../assets/cup.png"
              alt="groupicon"
              class="w-12 h-12 rounded-full"
            />
            <div class="flex items-start justify-between w-full">
              <div class="pl-3 w-full">
                <p
                  class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white"
                >
                  {{ tournament.Name }}
                </p>
                <p
                  class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200"
                >
                  Prize: €{{ tournament.RewardPrize }}
                </p>
              </div>
            </div>
          </div>
          <div class="px-2">
            <p
              class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200"
            >
              The Game of this tournament is:{{ tournament.Game }}
            </p>
            <div class="focus:outline-none flex">
              <div
                class="py-2 px-4 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100 cursor-pointer"
                routerLink="{{ tournament._id }}"
              >
                View
              </div>

              <div
                *ngIf="
                  tournament!.Creator._id?.toString() == user!._id!.toString()
                "
                class="py-2 px-4 ml-3 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100 cursor-pointer"
                (click)="onDelete(tournament._id!)"
              >
                Delete
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
