<body class="component text-black" style="background-image: url('../../../assets/bg.svg');">
  <div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main class="container">
        <h1 class="text-4xl font-bold pb-4">Casus FriendlyTournament</h1>
        <p class="text-lg">
          Het idee is het maken van een tournament applicatie waar je als user
          in een groep kan zitten die samen in kunnen schrijven in een
          tournament. Verder kan je vrienden hebben en bv. zien of hij/zij al in
          een groep zitten. Het erd is hieronder te vinden.
        </p>
      </main>
      <p class="lead">Naam: Tony Lam Quang<br />Studentnummer: 2182138</p>

      <h3 class="d-flex content-center text-xl font-bold pt-5">Entiteiten:</h3>
      <img
        src="../../../assets/Casus.png"
        alt="Casus.png"
        class="d-flex content-center"
      />
    </div>
    <h3 class="mt-4 font-bold text-2xl text-white">User Stories:</h3>
    <div
      class="flex flex-row align-content-center justify-content-center w-100 mt-6 space-x-7 px-64 text-white"
    >
      <p class="">
        <b>Scenario1:</b><br />Een User logt succesvol in en maakt een nieuwe
        groep aan en sluit zich automatisch aan bij de gemaakte groep. De user
        nodigt zijn/haar vriend uit zich aan te sluiten aan de groep.
      </p>
      <p class="">
        <b>Scenario2:</b><br />Een bestaande user krijgt een uitnodiging naar
        een groep en accepteert die. De user is aangesloten bij die groep.
      </p>
      <p class="">
        <b>Scenario3:</b><br />Een groep met genoeg spelers schrijft zich op
        tijd (en dus succesvol) in voor een tournament.
      </p>
    </div>

    <footer class="mastfoot mt-24">
      <div class="inner opacity-75 text-white">
        <p>
          Deze applicatie is gemaakt in het kader van het vak 'Clientside web
          frameworks' van
          <a href="https://www.avans.nl/" class="underline"
            >Avans HogeSchool Breda</a
          >.
        </p>
      </div>
    </footer>
  </div>
</body>
