<div class="component">
    <p>group-list works!</p>
    <button
      type="submit"
      class="btn btn-second text-light float-end me-1"
      routerLink="new"
    >
      Add New
    </button>
  
    <div class="album py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let group of groups$ | async">
            <div class="card mb-4 shadow-sm">
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
              <div class="card-body">
                <p class="card-text">
                  Name: {{ group.Name }} <br>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                      routerLink="{{group._id}}"
                    >
                      View
                    </button>
                    
                    <!-- <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                      routerLink="./{{ group._id }}/edit"
                    >
                      Edit
                    </button> -->
                    <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    (click)="onDelete(group._id!)"
                    >
                    
                      Delete
                    </button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>