<div
  class="h-screen flex"
  style="
    background-image: url(../../../../assets/bg.svg);
    background-position: 100%;
    background-position-x: 100%;
  "
>
  <div class="container flex justify-center items-center pb-64 h-screen">
    <form
      [formGroup]="form"
      name="form"
      (ngSubmit)="form.valid && login()"
      novalidate
    >
      <div class="form-row">
        <div class="form-group col-sm-12 col-lg-4">
          <label for="email" class="font-bold">Email</label>
          <input
            id="email"
            type="email"
            name="email"
            formControlName="email"
            class="form-control input input-bordered input-primary rounded-xl"
            required
            placeholder="Email"
          />

          <div
            *ngIf="email.invalid &&(email.dirty||email.touched) "
            class="invalid-feedback text-warning"
          >
            <div *ngIf="email.errors?.['email']">Valid email is required.</div>

            <div *ngIf="email.errors?.['required']">Email is required.</div>
          </div>
        </div>

        <br />

        <div class="form-group col-sm-12 col-lg-4">
          <label for="password" class="font-bold">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            formControlName="password"
            class="form-control input input-primary rounded-xl"
            required
            placeholder="password"
          />

          <div
            *ngIf="password.invalid && password.touched"
            class="invalid-feedback text-warning"
          >
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
          </div>
        </div>

        <!-- Submit buttons -->
        <button
          type="submit"
          class="btn btn-primary rounded-xl mt-4"
          [disabled]="!form.valid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
